@import 'variables';

.create-question {

    a {
        padding-right: $spacing-small;
        color: $primary-color;
        text-decoration: none;
    }

    .text-form {
        width: 90%;
        margin: auto;

        @media screen and (max-width: $small-screen) {
            width: 100%;
        }

        .field {
            width: 100%;
            margin-bottom: $spacing-large;

            .enter-question-field {
                width: 70%;
                padding: $spacing-small;

                input[type=text] {
                    margin-right: 0px;
                }
            }
        }

        .choice-fields {
            display: flex;
            flex-direction: row;
            margin-bottom: $spacing-medium;
            height: 40px;
            // align-items: center;

            .answer {
                width: 80%;
                margin-right: $spacing-medium;
                padding-left: $spacing-small;
            }

            .status {
                width: 20%;

                input[type=checkbox] {
                    border: 1px;
                    border-color: black;
                    background-color: rgb(229, 229, 229);

                    &:checked {
                        background-color: black;
                    }
                }
            }
        }

        .vanilla-nested-add {
            padding: 0;
        }

        .actions {
            input {
                margin-top: $spacing-medium;
                background-color: #16455D;
                color: rgb(246, 246, 246);
                border: 1px solid $primary-color;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding: 0.4rem 0.75rem;
                border-radius: 5px;
                font-weight: 600;
                text-decoration: none;
                font-size: 0.9rem;

                &:hover {
                background-color: #3c677f;
                border: 1px solid #3c677f;
                color: whitesmoke;
                }
            }
        }
    }
}