@import 'variables';

.courses-show {
    text-align: center;
    font: $font-family;
    color: $text-color;
    width: $spacing-page-width;
    margin: auto;

    h1 { size: $heading-1-size; }

    h2 { 
        size: $heading-2-size; 
        font-weight: bold;
        padding-bottom: $spacing-small;
    }

    h3 { 
        size: $heading-6-size; 
        padding-bottom: $spacing-tiny;
    }

    @media screen and (max-width: $small-screen) {
        width: $spacing-mobile-page-width;
    }

    .description-container {
        display: flex;
        flex-direction: row;

        .equipment {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: $spacing-medium;

            img {
                width: 80%;
                max-width: 400px;
                min-height: 100px;
                aspect-ratio: 1 / 1;
            }
        }

        .description {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: $spacing-medium;
            text-align: center;

            p {
                text-align: left;
                overflow-y: auto;
                width: 80%;
                max-width: 400px;
                min-height: 100px;
                aspect-ratio: 1 / 1;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: $medium-screen) {
            flex-direction: column;

            .equipment {
                width: 100%;
            }

            .description {
                width: 100%;
            }
        }
    }

    hr {
        margin-bottom: $spacing-medium;
    }

    .overview-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .part {
            padding-right: $spacing-small;
            padding-left: $spacing-small;
            width: calc(50% - 2 * #{$spacing-small});
            box-sizing: border-box;
            
            .bi {
                font-size: 30px;
                margin-bottom: 0px;
            }

            p {
                margin-top: 0px;
                margin-bottom: $spacing-large;
            }
        }

        @media screen and (max-width: $medium-screen) {
            flex-direction: column;

            i {
                padding-right: $spacing-small;
            }
    
            .part {
                align-items: center;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                width: 100%;
            }
        }
    }
}